{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
<a class="nav-link" href="{% url 'poll_update_view' poll.pk %}">Изменить</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'poll_delete_view' poll.pk %}">Удалить</a>
</li>
    <li class="nav-item">
<a class="nav-link" href="{% url 'answer_view' poll.pk %}">Ответить</a>
</li>
{% endblock %}

{% block content %}
    <p>{{ poll.question }}</p>
    <p>{{ poll.created_at }}</p>
    <p>
    {% for choice in poll.choices.all %}
        <div>
        {{ choice.answer }} ***
        <a href="{% url 'choice_update_view' choice.pk %}">Изменить</a> |
        <a href="{% url 'choice_delete_view' choice.pk %}">Удалить</a>
        </div>
    {% endfor %}
    </p>
    <a href="{% url 'choice_create_view' poll.pk %}">Новый ответ</a>
{% endblock %}